/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'bold';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, .form-control, input, textarea, a {
  outline: 0;
  text-decoration: none;
}

*:focus, .form-control:focus, input:focus, textarea:focus, a:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  margin: 120px 0;
}

h1, h2 {
  font-size: 43px;
  font-family: 'bold';
}

p {
  font-family: 'roman';
}

input, ::-webkit-input-placeholder {
  color: #000;
}

input, :-ms-input-placeholder {
  color: #000;
}

input, ::-ms-input-placeholder {
  color: #000;
}

input, ::placeholder {
  color: #000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

header img {
  height: 120px;
}

header ul li {
  padding-right: 20px;
}

header ul li a {
  font-family: 'roman';
  color: #000;
  font-size: 24px;
  text-decoration: none;
}

header ul li a:hover {
  color: #f6c139;
  text-decoration: none;
}

.heroe {
  background-image: url(./Imgs/Banner.jpg);
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.heroe .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: .4;
}

.heroe .rectangle {
  position: relative;
  height: 420px;
  width: 200px;
  left: 19%;
  top: 40%;
  -webkit-transform: translate(-19%, -40%);
          transform: translate(-19%, -40%);
}

.heroe .rectangle img.border-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.heroe .rectangle .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -16%;
  right: 92%;
}

.heroe .rectangle .dots .triangle {
  position: relative;
  bottom: -50px;
  height: 120px;
}

.heroe .rectangle .dots .dot {
  position: relative;
  height: 120px;
}

.heroe .rectangle .dots-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -26%;
  left: 20%;
}

.heroe .rectangle .dots-2 .triangle {
  position: relative;
  right: -50px;
  height: 120px;
}

.heroe .rectangle .dots-2 .dot {
  position: relative;
  height: 120px;
}

.heroe .main-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  left: 120px;
}

.heroe .main-text p {
  color: #fff;
  font-size: 38px;
  font-family: 'roman';
  padding-bottom: 24px;
}

.heroe .main-text h1 {
  color: #fff;
  font-family: 'bold';
  font-size: 43px;
  padding-bottom: 20px;
}

.about .about-text p {
  font-size: 22px;
  font-family: 'roman';
  line-height: 40px;
  padding-bottom: 30px;
}

.about .about-text h2 {
  line-height: 50px;
  padding-bottom: 30px;
}

.about .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px 0;
  position: relative;
  right: -10%;
}

.about .caption img.bg-img {
  height: 330px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .caption .border-img {
  margin: auto;
  position: absolute;
  width: auto;
  height: 500px;
  z-index: -1;
}

.about .caption .iframe {
  width: 420px;
  height: 300px;
  position: absolute;
  right: 30%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .caption .iframe img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .caption .iframe .circle {
  height: 200px;
  width: 200px;
  border: 3px dotted #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  position: absolute;
}

.about .caption .iframe .circle .inner {
  height: 150px;
  width: 150px;
  border: 3px dotted #000;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .caption .iframe .circle .inner a {
  border: 10px solid #000;
  background-color: #f6c139;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-decoration: none;
}

.about .caption .iframe .circle .inner a i {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.industry h2 {
  text-align: center;
  padding-bottom: 25px;
}

.industry h2:nth-of-type(2) {
  text-align: left;
}

.industry p {
  font-family: 'roman';
  text-align: center;
  font-size: 24px;
  padding-bottom: 70px;
}

.industry > div {
  padding: 0 100px;
}

.industry > div > div > div {
  margin-bottom: 30px;
}

.industry > div > div > div .company {
  width: 100%;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.industry > div > div > div .company .overlay {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
}

.industry > div > div > div .company img {
  width: 100%;
  height: 100%;
}

.industry > div > div > div .company .text {
  position: absolute;
  z-index: 999;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 30px 20px;
  bottom: -50%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.industry > div > div > div .company .text p {
  font-size: 17px;
  text-align: left;
  padding-bottom: 0;
  line-height: 25px;
}

.industry > div > div > div .company .text h4 {
  font-size: 30px;
  font-family: 'bold';
  padding-bottom: 25px;
}

.industry > div > div > div .company .text a {
  font-size: 24px;
  color: white;
  border: 4px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  opacity: 0;
  text-decoration: none;
}

.industry > div > div > div .company:hover {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.industry > div > div > div .company:hover .text {
  position: absolute;
  z-index: 999;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 30px 20px;
  top: 0;
  bottom: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.industry > div > div > div .company:hover .text p {
  font-size: 17px;
  text-align: left;
  padding-bottom: 0;
  line-height: 25px;
}

.industry > div > div > div .company:hover .text h4 {
  font-size: 30px;
  font-family: 'bold';
  padding-bottom: 25px;
}

.industry > div > div > div .company:hover .text a {
  font-size: 24px;
  color: white;
  border: 4px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  opacity: 1;
}

.industry > div ul.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.industry > div ul.nav li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  width: calc(100%/5);
}

.industry > div ul.nav li a {
  font-size: 24px;
  color: #000;
  font-family: 'roman';
  text-decoration: none;
}

.testimony {
  background-image: url(./Imgs/Testimonialsbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 300px;
  height: 80vh;
  position: relative;
  z-index: 999;
}

.testimony .overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .4;
  position: absolute;
}

.testimony > div > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(auto, -50%);
          transform: translate(auto, -50%);
}

.testimony > div > div .test-caption {
  width: 100%;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimony > div > div .test-caption img {
  height: 500px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.testimony > div > div .test-caption .test-card {
  height: 200px;
  width: 800px;
  background-color: #f6c139;
  position: absolute;
  top: 50%;
  right: -96%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  padding-top: 20px;
}

.testimony > div > div .test-caption .test-card p {
  font-size: 28px;
  font-family: 'roman';
  padding: 10px 15px;
  line-height: 30px;
}

.testimony > div > div .test-caption .test-card p sup {
  padding-right: 10px;
}

.testimony > div > div .test-caption .test-card h5 {
  font-size: 30px;
  padding-top: 30px;
}

.testimony > div > div .test-caption .test-card .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 120px;
  position: relative;
  margin-left: auto;
  bottom: 10px;
}

.testimony > div > div .test-caption .test-card .control button {
  border-radius: 100%;
  border: 4px solid #000;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  background: #f6c139;
  outline: none;
}

.testimony > div > div .test-caption .test-card .control button span {
  color: #000;
  font-size: 30px;
}

.testimony > div > div .company-review p {
  font-family: 'roman';
  font-size: 28px;
  color: #fff;
}

.testimony > div > div .company-review p:nth-of-type(2) {
  padding-top: 20px;
  padding-right: 60px;
}

.testimony > div > div .company-review h2 {
  font-size: 30px;
  padding: 20px 0 30px 0;
  color: #fff;
}

.testimony > div > div .company-review hr.line {
  width: 120px;
  height: 5px;
  background-color: #fff;
  margin: initial;
  border: none;
}

.scenario h2 {
  text-align: center;
  padding-bottom: 30px;
}

.scenario .biz-case {
  text-align: left;
}

.scenario .biz-case img {
  height: 120px;
}

.scenario .biz-case h3 {
  padding: 0px 0 40px 24px;
  font-size: 30px;
}

.scenario .biz-case ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 24px;
}

.scenario .biz-case ul li {
  margin-bottom: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scenario .biz-case ul li a {
  color: #fff;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: gray;
}

.scenario .biz-case ul li a.active {
  background-color: #000;
  color: #f6c139;
}

.scenario .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-left: 110px;
}

.scenario .tab-content h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

.scenario .tab-content h3:nth-of-type(2) {
  padding-top: 30px;
}

.scenario .tab-content p {
  font-size: 18px;
  line-height: 30px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.form ::-webkit-input-placeholder {
  color: #000;
}

.form :-ms-input-placeholder {
  color: #000;
}

.form ::-ms-input-placeholder {
  color: #000;
}

.form ::placeholder {
  color: #000;
}

.form .bussiness-tag {
  width: 500px;
  height: 550px;
  position: relative;
}

.form .bussiness-tag img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form .bussiness-tag .biz-card {
  position: absolute;
  top: 50%;
  background: #f6c139;
  left: 85%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  height: 300px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 50px;
}

.form .bussiness-tag .biz-card h2 {
  font-size: 24px;
}

.form .bussiness-tag .biz-card hr.hr {
  height: 3px;
  width: 100px;
  background: #000;
  margin-left: unset;
  position: relative;
  right: -20%;
}

.form form {
  width: 440px;
}

.form form h2 {
  padding-bottom: 20px;
}

.form form p {
  font-size: 24px;
  font-family: 'roman';
  padding-bottom: 24px;
}

.form form input, .form form textarea {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-family: 'roman';
  font-size: 26px;
  color: #000;
  padding-left: 0;
}

.form form input > ::-webkit-input-placeholder, .form form textarea > ::-webkit-input-placeholder {
  font-size: 30px;
  font-family: 'roman';
}

.form form input > :-ms-input-placeholder, .form form textarea > :-ms-input-placeholder {
  font-size: 30px;
  font-family: 'roman';
}

.form form input > ::-ms-input-placeholder, .form form textarea > ::-ms-input-placeholder {
  font-size: 30px;
  font-family: 'roman';
}

.form form input > ::placeholder, .form form textarea > ::placeholder {
  font-size: 30px;
  font-family: 'roman';
}

.form form input:focus, .form form textarea:focus {
  border-bottom: 1.5px solid #f6c139;
}

.form form input[type="submit"] {
  padding-bottom: 0;
  height: 60px;
  background-color: #000;
  color: white;
  width: 200px;
}

.client > div > :first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client > div > :first-child p {
  font-size: 22px;
  font-family: 'roman';
  padding-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 30px;
}

.client > div > :first-child h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.client > div > :first-child > div:first-child {
  padding-left: 100px;
}

.client > div > div:last-child img {
  height: 160px;
}

.client > div > div:last-child .owl-nav {
  margin: auto;
  text-align: center;
}

.client > div > div:last-child .owl-nav button {
  height: 50px;
  width: 50px;
  border: 3px solid #f6c139;
  outline: 0;
  margin: 30px 20px;
  border-radius: 100%;
}

.client > div > div:last-child .owl-dots {
  text-align: center;
}

.client > div > div:last-child .owl-dots button {
  height: 15px;
  width: 15px;
  background-color: #f6c139;
  border-radius: 100%;
  margin: 0 5px;
  outline: 0;
}

.client > div > div:last-child .owl-dots button.active {
  background: #000;
}

footer {
  background-color: #f6c139;
  padding: 60px 0;
}

footer .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

footer .newsletter h2 {
  font-size: 40px;
}

footer .newsletter .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .newsletter .inputs input {
  width: 400px;
  height: 60px;
  font-size: 30px;
  font-family: 'roman';
  padding: 20px;
  color: #000;
  border-radius: 0;
  border: 1px solid #000;
  background-color: #f6c139;
}

footer .newsletter .inputs button {
  height: 60px;
  background-color: #000;
  width: 100px;
  border: none;
  color: #fff;
  outline: 0;
  border-radius: 0px 8px 8px 0px;
  font-size: 30px;
}

footer .newsletter .inputs button:hover i {
  color: #f6c139;
}

footer .cont-details {
  padding: 60px 0;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
  margin: 30px 0;
}

footer .cont-details .detail-1 img {
  padding-bottom: 0px;
  height: 170px;
  text-align: left;
}

footer .cont-details .detail-1 p {
  font-family: 'roman';
  line-height: 30px;
  font-size: 26px;
}

footer .cont-details .detail-2 {
  padding-left: 50px;
}

footer .cont-details .detail-2 h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

footer .cont-details .detail-2 p {
  padding-bottom: 50px;
  font-size: 26px;
}

footer .cont-details .detail-2 p i {
  padding-right: 20px;
}

footer .cont-details .detail-3 h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

footer .cont-details .detail-3 .col-6 {
  overflow: hidden;
  padding: 0 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .cont-details .detail-3 img {
  width: 100%;
  height: 80px;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom p {
  font-size: 26px;
}

footer .bottom .icons a {
  height: 40px;
  width: 40px;
  background: #000;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  border-radius: 10px;
}

footer .bottom .icons a i {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

footer .bottom .icons a i:hover {
  color: #f6c139;
}

@media (max-width: 568px) and (min-width: 568px) {
  .testimony {
    margin-bottom: 160px;
    height: 60vh;
    margin-top: 30px;
  }
  .testimony > div > div {
    position: absolute;
    top: 15% !important;
    -webkit-transform: translate(auto, 0%);
            transform: translate(auto, 0%);
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .testimony > div > div .test-caption {
    width: 523px !important;
    height: 400px;
    position: relative;
  }
  .testimony > div > div .test-caption p {
    padding: 0;
  }
  .testimony > div > div .test-caption img {
    height: 145px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: 999;
  }
  .testimony > div > div .test-caption .test-card {
    height: 240px;
    width: 320px;
    top: 60%;
    right: -165px;
    z-index: 9999;
  }
  .testimony > div > div .test-caption .test-card p {
    font-size: 12px;
  }
  .testimony > div > div .test-caption .test-card h5 {
    padding-top: 0px;
  }
  .testimony > div > div .test-caption .test-card .control {
    bottom: -5px;
    right: 0;
  }
  .testimony > div > div .test-caption .test-card .control a {
    height: 34px;
    width: 34px;
  }
  .testimony > div > div .company-review {
    padding: 15px 0;
  }
  .testimony > div > div .company-review p {
    font-family: 'roman';
    font-size: 18px;
    color: #fff;
  }
  .testimony > div > div .company-review p:nth-of-type(2) {
    padding-top: 20px;
    padding-right: 0px;
  }
  .about {
    margin: 30px 0;
  }
  .about .about-text {
    margin-bottom: 30px;
  }
  .about .about-text h2 {
    line-height: 30px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  .about .caption {
    position: relative;
    right: 0% !important;
  }
  .about .caption img.bg-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about .caption .border-img {
    width: 100%;
    height: 500px;
  }
  .about .caption .iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    bottom: 0% !important;
  }
  .about .caption .iframe img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0 0px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    height: 120px;
  }
  header .menu {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f6c139;
    -webkit-transform-origin: 8px;
            transform-origin: 8px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  header .menu span:nth-of-type(2) {
    margin: 5px 0;
  }
  header .menu span.change:nth-of-type(2) {
    opacity: 0;
  }
  header .menu span.change:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .menu span.change:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .menu .change {
    background-color: #000;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #f6c139;
    z-index: 999;
    width: 100%;
    height: 260px;
    padding: 20px 30px;
    right: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  header ul li {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  header ul li a {
    font-family: 'roman';
    color: #000;
    font-size: 24px;
    text-decoration: none;
  }
  header ul li a:hover {
    color: #fff;
    text-decoration: none;
  }
  header ul.change {
    right: 0;
  }
  .heroe {
    height: 500px;
  }
  .heroe .rectangle {
    left: 14%;
    top: 0%;
    -webkit-transform: translate(14%, 0%);
            transform: translate(14%, 0%);
    margin: auto;
    height: 312px;
  }
  .heroe .rectangle .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -10%;
    right: 92%;
  }
  .heroe .rectangle .dots .triangle {
    position: relative;
    bottom: -30px;
    height: 80px;
  }
  .heroe .rectangle .dots .dot {
    position: relative;
    height: 80px;
  }
  .heroe .rectangle .dots-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: -18%;
    left: 20%;
  }
  .heroe .rectangle .dots-2 .triangle {
    position: relative;
    right: -30px;
    height: 80px;
  }
  .heroe .rectangle .dots-2 .dot {
    position: relative;
    height: 80px;
  }
  .heroe .main-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
    left: -30px;
  }
  .heroe .main-text p {
    font-size: 18px;
  }
  .heroe .main-text h1 {
    font-size: 26px;
  }
  .about {
    margin: 30px 0;
  }
  .about .about-text {
    margin-bottom: 30px;
  }
  .about .about-text h2 {
    line-height: 30px;
    padding-bottom: 30px;
    font-size: 30px;
  }
  .about .caption {
    position: relative;
    right: 0%;
  }
  .about .caption img.bg-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about .caption .border-img {
    width: 100%;
    height: 500px;
  }
  .about .caption .iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    bottom: -30%;
  }
  .about .caption .iframe img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .industry {
    margin-bottom: 30px;
  }
  .industry h2 {
    padding-top: 30px;
    font-size: 24px;
  }
  .industry h2:nth-of-type(2) {
    text-align: left;
  }
  .industry p {
    font-size: 20px;
    padding-bottom: 70px;
  }
  .industry > div {
    padding: 0 20px;
  }
  .industry > div > div > div {
    margin-bottom: 30px;
  }
  .industry > div > div > div .company {
    height: 300px;
  }
  .industry > div > div > div .company img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .industry > div > div > div .company .text {
    bottom: 0%;
  }
  .industry > div > div > div .company .text p {
    font-size: 20px;
  }
  .industry > div > div > div .company .text a {
    opacity: 1;
  }
  .industry > div ul.nav li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
    width: calc(100%/3.5);
  }
  .industry > div ul.nav li a {
    font-size: 14px;
  }
  .testimony {
    margin-bottom: 30px;
    height: 600px;
    margin-top: 30px;
  }
  .testimony > div > div {
    position: absolute;
    top: 0%;
    -webkit-transform: translate(auto, 0%);
            transform: translate(auto, 0%);
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .testimony > div > div .test-caption {
    width: 100%;
    height: 400px;
    position: relative;
    top: 30px;
  }
  .testimony > div > div .test-caption p {
    padding: 0;
  }
  .testimony > div > div .test-caption img {
    height: 145px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: 999;
  }
  .testimony > div > div .test-caption .test-card {
    height: 240px;
    width: 320px;
    top: 60%;
    right: -165px;
  }
  .testimony > div > div .test-caption .test-card p {
    font-size: 12px;
  }
  .testimony > div > div .test-caption .test-card h5 {
    padding-top: 0px;
  }
  .testimony > div > div .test-caption .test-card .control {
    bottom: -5px;
    right: 0;
  }
  .testimony > div > div .test-caption .test-card .control a {
    height: 34px;
    width: 34px;
  }
  .testimony > div > div .company-review {
    padding: 15px 0;
  }
  .testimony > div > div .company-review p {
    font-family: 'roman';
    font-size: 18px;
    color: #fff;
  }
  .testimony > div > div .company-review p:nth-of-type(2) {
    padding-top: 20px;
    padding-right: 0px;
  }
  .scenario {
    margin: 50px 0;
  }
  .scenario h2 {
    font-size: 25px;
  }
  .scenario .biz-case {
    text-align: left;
  }
  .scenario .biz-case h3 {
    padding-left: 0;
  }
  .scenario .biz-case ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0px;
  }
  .scenario .biz-case ul li {
    margin-right: 12px;
  }
  .scenario .tab-content {
    margin-left: 0px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 0;
  }
  .form .bussiness-tag {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  .form .bussiness-tag img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .form .bussiness-tag .biz-card {
    top: 0%;
    background: #f6c139;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .form .bussiness-tag .biz-card h2 {
    font-size: 24px;
  }
  .form form {
    width: 100%;
    padding: 0 12px;
  }
  .form form h2 {
    padding-bottom: 20px;
    font-size: 24px;
  }
  .form form p {
    font-size: 18px;
    padding-bottom: 24px;
  }
  .client {
    margin: 30px 0;
  }
  .client > div > :first-child {
    padding: 0 15px;
  }
  .client > div > :first-child > div:first-child {
    padding-left: 20px;
  }
  .client > div > div:last-child img {
    height: 160px;
  }
  .client > div > div:last-child .owl-dots {
    display: none;
  }
  footer {
    padding: 20px 0;
  }
  footer .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .newsletter h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  footer .newsletter .inputs input {
    width: 100%;
    font-size: 14px;
  }
  footer .cont-details .detail-1 img {
    height: 170px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .cont-details .detail-1 p {
    padding: 20px 0;
    font-size: 18px;
  }
  footer .cont-details .detail-2 {
    padding-left: 0;
  }
  footer .cont-details .detail-2 p {
    font-size: 18px;
    padding-bottom: 18px;
  }
  footer .bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .bottom p {
    font-size: 20px;
    text-align: center;
  }
  footer .bottom .icons {
    margin-top: 10px;
  }
  footer .bottom .icons a {
    margin-bottom: 10px;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  header {
    padding: 0 0px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    height: 120px;
  }
  header .menu {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f6c139;
    -webkit-transform-origin: 8px;
            transform-origin: 8px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  header .menu span:nth-of-type(2) {
    margin: 5px 0;
  }
  header .menu span.change:nth-of-type(2) {
    opacity: 0;
  }
  header .menu span.change:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .menu span.change:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .menu .change {
    background-color: #000;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #f6c139;
    z-index: 999;
    width: 100%;
    height: 85vh;
    padding: 20px 30px;
    right: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  header ul li {
    padding-left: 30px;
    padding-bottom: 20px;
  }
  header ul li a {
    font-family: 'roman';
    color: #000;
    font-size: 30px;
    text-decoration: none;
  }
  header ul li a:hover {
    color: #fff;
    text-decoration: none;
  }
  header ul.change {
    right: 0;
  }
  .heroe {
    height: 100vh;
  }
  .heroe .rectangle {
    height: 70%;
    width: 200px;
    left: 19%;
    top: 0%;
    -webkit-transform: translate(-19%, 0%);
            transform: translate(-19%, 0%);
    margin: auto 0;
  }
  .heroe .rectangle .dots {
    top: -14%;
    right: 92%;
  }
  .heroe .rectangle .dots .triangle {
    bottom: -30px;
    height: 80px;
  }
  .heroe .rectangle .dots .dot {
    height: 80px;
  }
  .heroe .rectangle .dots-2 {
    bottom: -25%;
    left: 20%;
  }
  .heroe .rectangle .dots-2 .triangle {
    position: relative;
    right: -30px;
    height: 80px;
  }
  .heroe .rectangle .dots-2 .dot {
    position: relative;
    height: 80px;
  }
  .heroe .main-text {
    left: 0;
  }
  .heroe .main-text h1 {
    font-size: 30px;
  }
  .heroe .main-text p {
    font-size: 20px;
  }
  .industry {
    margin: 30px auto;
  }
  .industry h2 {
    padding-top: 30px;
    font-size: 30px;
  }
  .industry h2:nth-of-type(2) {
    text-align: left;
  }
  .industry p {
    font-size: 20px;
    padding-bottom: 70px;
  }
  .industry > div {
    padding: 0 20px;
  }
  .industry > div .company {
    height: 300px;
  }
  .industry > div .company img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .industry > div .company .text {
    bottom: 0% !important;
  }
  .industry > div .company .text a {
    opacity: 1 !important;
  }
  .industry > div .company .text p {
    font-size: 20px !important;
  }
  .industry > div ul.nav li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
    width: calc(100%/3.5);
  }
  .industry > div ul.nav li a {
    font-size: 20px;
  }
  .testimony {
    height: 100vh;
    margin: 30px 0 100px;
  }
  .testimony > div {
    overflow: hidden;
  }
  .testimony > div > div {
    position: absolute;
    top: 30%;
    -webkit-transform: translate(auto, -37%);
            transform: translate(auto, -37%);
  }
  .testimony > div > div .test-caption {
    width: 570px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    display: block;
  }
  .testimony > div > div .test-caption img {
    height: 300px;
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-right: 20px;
  }
  .testimony > div > div .test-caption .test-card {
    height: 150px;
    width: 70%;
    top: 70%;
    right: 20%;
    padding-top: 0;
  }
  .testimony > div > div .test-caption .test-card p {
    font-size: 15px;
    padding: 10px 15px;
    line-height: 30px;
  }
  .testimony > div > div .test-caption .test-card p sup {
    padding-right: 10px;
  }
  .testimony > div > div .test-caption .test-card h5 {
    font-size: 20px;
    padding-top: 10px;
  }
  .testimony > div > div .test-caption .test-card .control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 120px;
    position: relative;
    margin-left: auto;
    bottom: 10px;
  }
  .testimony > div > div .test-caption .test-card .control a {
    height: 30px;
    width: 30px;
  }
  .testimony > div > div .test-caption .test-card .control a span {
    font-size: 20px;
  }
  .testimony > div > div .company-review p {
    font-family: 'roman';
    font-size: 20px;
    color: #fff;
  }
  .testimony > div > div .company-review p:nth-of-type(2) {
    padding-top: 20px;
    padding-right: 60px;
  }
  .testimony > div > div .company-review h2 {
    font-size: 30px;
    padding: 20px 0 30px 0;
    color: #fff;
  }
  .testimony > div > div .company-review hr.line {
    width: 120px;
    height: 5px;
    background-color: #fff;
    margin: initial;
    border: none;
  }
  .scenario {
    margin: 30px auto;
  }
  .scenario h2 {
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .scenario .biz-case {
    text-align: left;
  }
  .scenario .biz-case img {
    height: 70px;
  }
  .scenario .biz-case h3 {
    padding-left: 0;
  }
  .scenario .biz-case ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0px;
  }
  .scenario .biz-case ul li {
    margin-right: 12px;
  }
  .scenario .tab-content {
    margin-left: 0px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0;
  }
  .form .bussiness-tag {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  .form .bussiness-tag img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .form .bussiness-tag .biz-card {
    bottom: 0%;
    background: #f6c139;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .form .bussiness-tag .biz-card h2 {
    font-size: 24px;
  }
  .form form {
    width: 100%;
    padding: 0 12px;
  }
  .form form h2 {
    padding-bottom: 20px;
    font-size: 24px;
  }
  .form form p {
    font-size: 18px;
    padding-bottom: 24px;
  }
  footer .newsletter h2 {
    font-size: 30px;
  }
  footer .newsletter .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .newsletter .inputs input {
    width: 260px;
    height: 60px;
    font-size: 20px;
  }
  footer .cont-details {
    padding: 60px 0;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    margin: 30px 0;
  }
  footer .cont-details .detail-1 {
    margin-bottom: 30px;
  }
  footer .cont-details .detail-1 img {
    padding-bottom: 0px;
    height: 170px;
    text-align: left;
  }
  footer .cont-details .detail-1 p {
    font-family: 'roman';
    line-height: 20px;
    font-size: 20px;
  }
  footer .cont-details .detail-2 {
    padding-left: 0px;
  }
  footer .cont-details .detail-2 h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }
  footer .cont-details .detail-2 p {
    padding-bottom: 20px;
    font-size: 20px;
  }
  footer .cont-details .detail-2 p i {
    padding-right: 20px;
  }
  footer .bottom p {
    font-size: 17px;
  }
  footer .bottom .icons a {
    height: 40px;
    width: 40px;
    background: #000;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-decoration: none;
    border-radius: 10px;
  }
  footer .bottom .icons a i {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  footer .bottom .icons a i:hover {
    color: #f6c139;
  }
  .about {
    margin: 30px auto;
  }
  .about .about-text p {
    font-size: 17px;
    padding-bottom: 20px;
  }
  .about .about-text h2 {
    font-size: 30px;
  }
  .about .caption {
    right: -7%;
  }
  .about .caption .border-img {
    height: 400px;
  }
  .client {
    margin: 30px auto;
  }
  .client > div > :first-child > div:first-child {
    padding-left: 20px;
  }
  .client > div > div:last-child img {
    height: 150px;
    width: auto;
    margin: auto;
  }
  .client > div > div:last-child .owl-dots {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  header img {
    height: 120px;
  }
  header ul li a {
    font-size: 20px;
  }
  .heroe {
    height: 60vh;
  }
  .heroe .main-text {
    left: 0px;
  }
  .about {
    margin-top: 30px;
  }
  .about .caption {
    right: 0%;
  }
  .testimony {
    height: 400px;
    margin-top: 30px;
  }
  .testimony > div > div {
    top: 30%;
  }
  .testimony > div > div .test-caption {
    width: 100%;
    height: 500px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimony > div > div .test-caption img {
    height: 450px;
    width: 300px;
  }
  .testimony > div > div .test-caption .test-card {
    height: 300px;
    width: 400px;
    top: 50%;
    right: -76%;
  }
  section.form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px;
    margin: 30px 0;
  }
  section.form .bussiness-tag {
    width: 100%;
    margin-bottom: 60px;
  }
  section.form .bussiness-tag .biz-card {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  section.form form {
    width: 100%;
  }
  section.client {
    margin: 30px 0;
  }
  section.client > div > :first-child > div:first-child {
    padding-left: 0px;
  }
  section.industry {
    margin: 30px 0;
  }
  section.industry h2 {
    font-size: 30px;
  }
  section.industry h2:nth-of-type(2) {
    text-align: left;
  }
  section.industry > div {
    padding: 0 20px;
  }
  section.industry > div > div > div {
    margin-bottom: 30px;
  }
  section.industry > div > div > div .company {
    height: 250px;
    width: 220px;
  }
  section.industry > div > div > div .company img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.industry > div > div > div .company .text {
    bottom: 0%;
  }
  section.industry > div > div > div .company .text h4 {
    padding-bottom: 20px;
  }
  section.industry > div > div > div .company .text a {
    opacity: 1;
    margin-bottom: 0;
    font-size: 40px;
  }
  section.industry > div ul.nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.industry > div ul.nav li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 30px;
    width: calc(100%/5);
  }
  section.industry > div ul.nav li a {
    font-size: 24px;
    color: #000;
    font-family: 'roman';
    text-decoration: none;
  }
  section.scenario {
    margin: 30px 0;
  }
  section.scenario .tab-content {
    margin-left: 60px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heroe {
    height: 600px;
  }
  .about .caption {
    right: 0%;
  }
  .about .caption .iframe {
    width: 400px;
    height: 300px;
    position: absolute;
    right: 15%;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .industry {
    margin-bottom: 30px;
  }
  .industry p {
    font-family: 'roman';
    text-align: center;
    font-size: 24px;
    padding-bottom: 70px;
  }
  .industry > div {
    padding: 0 20px;
  }
  .industry > div > div > div .company {
    height: 300px;
  }
  .industry > div > div > div .company img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .industry > div > div > div .company .text {
    bottom: 0%;
  }
  .industry > div > div > div .company .text a {
    opacity: 1;
  }
  section.testimony {
    margin-top: 60px;
    margin-bottom: 250px;
    height: 600px;
  }
  section.testimony > div > div .test-caption {
    width: 100%;
    height: 450px;
  }
  section.testimony > div > div .test-caption img {
    width: 450px;
  }
  section.testimony > div > div .test-caption .test-card {
    top: 60%;
    right: -96%;
  }
  .form .bussiness-tag .biz-card {
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .client > div > :first-child > div:first-child {
    padding-left: 0px;
  }
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}
/*# sourceMappingURL=style.css.map */